/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Merriweather', serif;
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.container {
  width: 90%;
  /* TB LR */
  margin: 0 auto;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header nav a {
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
}
header nav a:hover {
  color: #00CBD1;
  background: white;
}
header .navButtons button {
  margin-left: 10px;
  padding: 6px;
  font-size: 1.4rem;
  background: #00CBD1;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
header .navButtons button:hover {
  background: white;
  color: #00CBD1;
}
header .topContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .topContent .topImg {
  width: 300px;
  height: 400px;
  margin-top: 3%;
  margin-bottom: 3%;
}
header .topContent h1 {
  font-size: 3rem;
  color: #00CBD1;
}
header .topContent button {
  font-size: 2rem;
  background: white;
  padding-left: 6%;
  padding-right: 6%;
  border: 2px solid #00CBD1;
  cursor: pointer;
}
header .topContent button:hover {
  background: #00CBD1;
  color: white;
}
.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #00CBD1;
  position: relative;
}
.testimonials h3 {
  color: #fff;
  font-size: 3.6rem;
  padding-top: 48px;
  padding-bottom: 50px;
}
.testimonials .testimonial_content {
  margin: 50px 142px 0 142px;
}
.testimonials .student_testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 5px;
  justify-items: center;
}
.testimonials .student_testimonials img {
  width: 100%;
}
.testimonials .student {
  width: 150px;
}
.testimonials .student img {
  padding-bottom: 17px;
  cursor: pointer;
}
.testimonials .student p {
  color: #fff;
  font-size: 1.6rem;
  padding-top: 20.4px;
}
.testimonials .student .star {
  color: goldenrod;
  font-size: 2rem;
  padding: 0.1rem;
  /*space out the stars*/
  cursor: pointer;
}
.testimonials .student .star::before {
  content: '\2606';
  /*star outline*/
}
.testimonials img.testimonial_book {
  width: 5%;
  padding-top: 50px;
  right: -1050px;
}
h3 {
  font-size: 3.6rem;
  color: #FF2A52;
}
h3 .bold {
  font-weight: bold;
}
h4 {
  font-size: 3.2rem;
}
h3,
h4 {
  margin-top: 50px;
}
.rent_form {
  margin-top: 50px;
}
.rent_form form {
  display: inline-flex;
  justify-content: center;
  width: 90%;
  border-radius: 0.2em;
}
.rent_form form input[type=search] {
  width: 60%;
  padding: 16px;
  border-radius: 0.2em 0 0 0.2em;
}
.rent_form form button {
  border: none;
  width: 70px;
  background-color: #fff;
  border-radius: 0 0.2em 0 0.2em 0;
  cursor: pointer;
}
.rent_form form button:hover {
  background: #00CBD1;
}
.rent_form input {
  border: 1px solid black;
}
.math_books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 20px;
  justify-items: center;
  margin-top: 50px;
}
.math_books li {
  display: grid;
}
.center-text {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}
.contactPage {
  background: linear-gradient(164deg, #ffffff 15%, #00cbd1 15%);
}
.contactNav {
  display: flex;
  justify-content: space-between;
}
.contactNav a {
  margin-left: 10%;
  margin-right: 2%;
}
.contact {
  display: flex;
  justify-content: spa;
  margin-top: 7%;
}
.contact .contactImg {
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 4%;
}
.contact .contactForm {
  display: flex;
}
.contact .contactForm h1 {
  font-size: 3rem;
  color: white;
}
.contact .contactForm input[type=text],
.contact .contactForm textarea {
  width: 100%;
  border: 1px solid #ccc;
  margin-top: 1%;
  margin-bottom: 1%;
}
.contact .contactForm input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.contact .contactForm input[type=submit]:hover {
  background-color: #45a049;
}
.contact .contactForm label {
  font-size: 1.5rem;
  color: white;
}
